---
name: bt-api-server

on:

    
  workflow_dispatch:
    inputs:
      deploy_environment:
        description: 'env name'
        required: true
        default: 'prd' 
        type: choice
        options:
        - dev
        - stg
        - prd
      node:
        description: 'node name'
        required: true
        default: '01' 
        type: choice
        options:
        - "01"
        - "02"
        
        
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: print test01
      if: ${{ github.event.inputs.deploy_environment == 'prd' }}
      run: echo "test01"
  
    - name: print test02
      if: ${{ github.event.inputs.deploy_environment == 'prd' and github.event.inputs.node == '02' }}
      run: echo "test02"  
      
      
